<% @comments.each do |comment| %>
	<div>
		<div style: "float: left;margin-right: 5px;"><%= comment.user_id %></div>
		<div><%= comment.content %></div>
	</div>
	<div style="clear: left; height: 20px;" ></div>	
<% end %>