<hr class="comments-rule">
<% @comments.each do |comment| %>
	<div class="comment">	
		<div class="comment-body">
			<div class= "comment-user-name"><%= comment.user_id %></div>
			<div><%= comment.content %></div>
		</div>

		<hr class ="comments-rule child">
	
	</div>	
<% end %>