<h1>New Store Credit</h1>
<div class= "w-container">
	<%= form_for(:store_credit, :url => store_credits_url(params[:user_id])) do |f| %>
	  <%= collection_select(:store_credit, :user_id, User.all, :id, :email) %>
	  <%= render :partial => "form", :locals => { :f => f } %>

	  <%= f.submit %>
	<% end %>
</div>