 <h2 class="campaign_title"><%= @store_credit.user.email %></a></h2>
  <h2 class="campaign_title"><%= @store_credit.amount %></a></h2>
  <h2 class="campaign_title"><%= @store_credit.remaining_amount %></a></h2>