<div class="footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h5 class="copyright w-inline-block">© 2014 &nbsp;DAPPER&nbsp;CROWD</h5>
          <a class = "copyright w-inline-block" style="text-align: center;" href="http://open.tilt.com">&nbsp;&nbsp;A Tilt Open Site</a>
      &nbsp;&nbsp;<%= image_tag 'crowdtiltcircle.png' %>&nbsp;&nbsp;
      <a class = "copyright w-inline-block" href="http://www.tilt.com">Powered by Tilt</a>
        </div>
       <div >
      
    </div>
        <div class="w-col w-col-6 sicial-icon-column">
          <a class="w-inline-block circle-icon-block social fotter" href="http://www.twitter.com/dappercrowd" target="_blank">
            <%= image_tag("53f33417144ad8302fd73d6a_twitter_footer.svg", class: "socil-icon", width: "50") %>
          </a>
          <a class="w-inline-block circle-icon-block social fotter" href="http://www.facebook.com/dappercrowd">
            <%= image_tag("53f333fd1b92a02f2f930a05_facebook_footer.svg", class: "socil-icon") %>         
            </a>
        </div>
      </div>
    </div>
  </div>