    <div class="w-nav navbar" id="header" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
        <div class="w-container">
          <a class="w-nav-brand w-clearfix" href="/">
            <%= image_tag("logo-horizontal-2.png", width: "300") %>
            <nav class="w-nav-menu nav-menu" role="navigation"><a class="w-nav-link nav-link" href="/#about-us">about</a><a class="w-nav-link nav-link" href="/#portfolio">Projects</a><a class="w-nav-link nav-link" href="/prototypes">Prototypes</a><a class="w-nav-link nav-link" href="/labs">The Lab</a>
            </nav>
          </a>
          <div class="w-nav-button menu-button">
            <div class="w-icon-nav-menu icon-menu"></div>
          </div>
          <div class="div-block-divider">
            <div class="w-container 
            ro-divider"></div>
          </div>
        </div>
  </div>