    <div class="w-nav navbar" id="header" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
        <div class="w-container">
          <a class="w-nav-brand w-clearfix" href="/">
            <%= image_tag("logo-horizontal-2.png", width: "300") %>
            <nav class="w-nav-menu2" role="navigation"><a class="w-nav-link2 nav-link" href="/wedding">Weddings</a><a class="w-nav-link2 nav-link" href="/#portfolio">Projects</a><a class="w-nav-link2 nav-link" href="/labs">The Lab</a><a class="w-nav-link2 nav-link" href="/discussion">The Forum</a>
            </nav>
          </a>
          
          <div class="div-block-divider">
            <div class="w-container 
            ro-divider"></div>
          </div>
        </div>
  </div>