<div class="hero-section pg" data-ix="show-nav">
  </div>
  <div class="texbar">
    <div class="w-container">
          <h3 class="hero-texbar">Be a part of the Community.&nbsp;<strong>Tell us what you want from Dapper Crowd.</strong></h3>
    </div>
    <br/>	
    <div class="w-container">
		<div class="fb-comments center" data-href="<%= request.original_url %>" data-width="600" data-num-posts="7" data-share="false" style="left-margin: 40px;">
		</div>


	</div>        
  </div>
  
  