  <div class="section gallery _2" id="portfolio">
    <div class="w-container work-container">
      <%= image_tag("Jacket Sizing.png") %>
    </div>  
    <div class="w-container work-container">
      <h3>Jacket Regular Fit - Garment Measurements</h3>
      <table class="table-bordered" width="100%">
      <tbody><tr>
        <td><strong>Tagged Size</strong></td>
        <td><strong>36R</strong></td>
        <td><strong>38R</strong></td>
        <td><strong>40R</strong></td>
        <td><strong>42R</strong></td>
        <td><strong>44R</strong></td>
        <td><strong>46R</strong></td>
        <td><strong>48R</strong></td>
        <td><strong>50R</strong></td>
      </tr>
      <tr>
        <td>Chest Measurement</td>
        <td>40.6</td>
        <td>42.2</td>
        <td>43.8</td>
        <td>45.3</td>
        <td>46.8</td>
        <td>48.4</td>
        <td>50.0</td>
        <td>51.6</td>
      </tr>
      <tr>

        <td>Stomach Measurement</td>
        <td>37.5</td>
        <td>39.0</td>
        <td>40.6</td>
        <td>42.2</td>
        <td>43.8</td>
        <td>45.3</td>
        <td>46.9</td>
        <td>48.4</td>
      </tr>
      <tr>
        <td>Shoulder</td>
        <td>17.8</td>
        <td>18.2</td>
        <td>18.6</td>
        <td>19.0</td>
        <td>19.3</td>
        <td>19.7</td>
        <td>20.1</td>
        <td>20.5</td>
      </tr>
      <tr>
        <td>Sleeve Length</td>
        <td>23.8</td>
        <td>24.0</td>
        <td>24.2</td>
        <td>24.4</td>
        <td>24.6</td>
        <td>24.8</td>
        <td>25.0</td>
        <td>25.2</td>
      </tr>
      <tr>
        <td>Back Jacket Length</td>
        <td>28.5</td>
        <td>28.9</td>
        <td>29.3</td>
        <td>29.7</td>
        <td>30.1</td>
        <td>30.5</td>
        <td>30.9</td>
        <td>31.3</td>
      </tr>
      </tbody></table>
    </div>
    <div class="w-container work-container">
      <h3>Jacket Slim Fit - Garment Measurements</h3>
      <table class="table-bordered" width="100%">
      <tbody><tr>
        <td><strong>Tagged Size</strong></td>
        <td><strong>36R</strong></td>
        <td><strong>38R</strong></td>
        <td><strong>40R</strong></td>
        <td><strong>42R</strong></td>
        <td><strong>44R</strong></td>
        <td><strong>46R</strong></td>
        <td><strong>48R</strong></td>
        <td><strong>50R</strong></td>
      </tr>
      <tr>
        <td>Chest Measurement</td>
        <td>39.8</td>
        <td>41.4</td>
        <td>42.3</td>
        <td>44.6</td>
        <td>46.1</td>
        <td>47.7</td>
        <td>49.2</td>
        <td>50.8</td>
      </tr>
      <tr>
        <td>Stomach Measurement</td>
        <td>35.2</td>
        <td>36.7</td>
        <td>38.3</td>
        <td>39.8</td>
        <td>41.4</td>
        <td>43.0</td>
        <td>44.5</td>
        <td>46.1</td>
      </tr>
      <tr>
        <td>Shoulder</td>
        <td>17.8</td>
        <td>18.2</td>
        <td>18.6</td>
        <td>19.0</td>
        <td>19.3</td>
        <td>19.7</td>
        <td>20.1</td>
        <td>20.5</td>
      </tr>
      <tr>
        <td>Sleeve Length</td>
        <td>23.8</td>
        <td>24.0</td>
        <td>24.2</td>
        <td>24.4</td>
        <td>24.6</td>
        <td>24.8</td>
        <td>25.0</td>
        <td>25.2</td>
      </tr>
      <tr>
        <td>Back Jacket Length</td>
        <td>28.5</td>
        <td>28.9</td>
        <td>29.3</td>
        <td>29.7</td>
        <td>30.1</td>
        <td>30.5</td>
        <td>30.9</td>
        <td>31.3</td>
      </tr>
      </tbody></table>
    </div>
    <div class="w-container work-container">
      <h3>Jacket Measurement GUide</h3>
      <div class="w-row">

        <div class="w-col w-col-3"><%= image_tag("FrontTorsoLines2.jpg")%><%= image_tag("BackTorsoLines2.jpg")%>
        </div>
        <div class="w-col w-col-9 w-clearfix">
          <h5 class="project-tittle">OVERVIEW</h5>
          <div class="hero-small-line"></div>
          <p>Getting your size right is what we aim for which is why we provide a comprehensive guide to fit.&nbsp;&nbsp;We carry two Jacket Patterns, both Slim and Regular.&nbsp;&nbsp;We offer two general ways to measure, the first seen above is a general measurement guide based on measurements you should already know.&nbsp;&nbsp;The second is based on getting your best fitting Jacket and measuring it with a tape measure.&nbsp;&nbsp;
            <br>
            <br>Be aware that your True Measurements may be larger than what your tags may say.&nbsp;&nbsp;This is due to Vanity Sizing and does not mean you’ve changed weight or size.&nbsp;&nbsp;For instance its common for Jeans to be vanity sized by 2” meaning that you’re actual waist size is 2” larger than your tagged size.<br />
            <br>
            If the Jacket size is too long or too short you can request a Long or Short Jacket.
            </br></p><br />
          <h5 class="project-tittle">Chest Sizing</h5>
          <div class="hero-small-line"></div>
          <p>Lay your Jacket Flat on the ground while buttoned, make sure the jacket overlaps as it would during normal wear.&nbsp;&nbsp;You’ll want to take this measurement right below the armholes.&nbsp;&nbsp;Measure straight from seam to seam and then double that measurement to take the actual Chest measurement.&nbsp;&nbsp;Note that it should be 2” – 4” larger than your noted chest measurement.</p><br />
          <h5 class="project-tittle">Stomach Sizing</h5>
          <div class="hero-small-line"></div>
          <p>Lay your Jacket Flat on the ground while buttoned, make sure the jacket overlaps as it would during normal wear.&nbsp;&nbsp;You’ll want to take this measurement at either the thinnest portion of the mid-section or the largest depending on weather your stomach is larger than your chest.&nbsp;&nbsp;
            <br>
            <br>Measure straight from seam to seam and then double that measurement to take the actual Stomach measurement.&nbsp;&nbsp;Note that it should be 2” – 4” larger than your actual stomach measurement so that it will sit comfortably.</p><br />
          <h5 class="project-tittle">Shoulder Width</h5>
          <div class="hero-small-line"></div>
          <p>Lay your Jacket Flat on the ground facing down.
            <br>
            <br>Measure straight from shoulder seam to shoulder seam while curving along the path of the shoulders. (Please note that the picture doesn't denote the curve as much as you should, we will update soon.)</p><br />
          <h5 class="project-tittle">Arm SLEEVE Length</h5>
          <div class="hero-small-line"></div>
          <p>Lay your Jacket Flat.
            <br>
            <br>Measure straight from shoulder seam to the bottom of the sleeve length.&nbsp;&nbsp;Note that our suits carry about 0.75” of slack to lengthen the sleeve.</p><br />
          <h5 class="project-tittle">Rear Jacket Length</h5>
          <div class="hero-small-line"></div>
          <p>Lay your Jacket Flat.
            <br>
            <br>Measure straight from the top seam next to the neck collar straight down to the bottom of your jacket.</p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="w-container work-container">
        <h3>Pant Measurement GUide</h3>
        <div class="w-row">

          <div class="w-col w-col-3"><%= image_tag("BackLegsLines2.jpg")%>
          </div>
          <div class="w-col w-col-9 w-clearfix">
            <h5 class="project-tittle">Pant Waist</h5>
            <div class="hero-small-line"></div>
            <p>Lay your best fitting pants flat on the ground and measure straight across the belt line.&nbsp;&nbsp;Double this measurement to get your true size.&nbsp;&nbsp;&nbsp;There's usually about a 2"&nbsp;disparity from your true size to your tagged size.</p><br />
            <h5 class="project-tittle">Inseam</h5>
            <div class="hero-small-line"></div>
            <p>Measure from the top of the belt line and follow the outside leg all the way to the bottom of your pants.&nbsp;&nbsp;There is usually minimal disparity between your tagged size versus true size with your inseam.</p><br />
          </div>
        </div>
      </div>
    </div>
  </div>
  