<br />
<br />
<div class="hero-section pg contact">
  <div class="w-container hero-text">
    <h1 data-ix="hero-headline">how it works</h1>
    <div class="hero-small-line contact"></div>
    <br />
    <br />
    <div class="w-row">
      <div class="w-col w-col-4 w-clearfix">
        <a class="w-inline-block circle-block-icon-contact"><%= image_tag("poll_topic-75.png", class: "icoimage", size: "75x75") %>
        </a>
        <h4 class="center-h4 contact", style="color: white;">Vote &amp;&nbsp;DISCUSS</h4>
        <p class="contact", style="color: white;">Join the Dapper Crowd community and vote on the designs &amp;&nbsp;products&nbsp;you want.</p>
      </div>
      <div class="w-col w-col-4">
        <a class="w-inline-block circle-block-icon-contact"><%= image_tag("needle-75.png", class: "icoimage")%>
        </a>
        <h4 class="center-h4 contact", style="color: white;">We find makers</h4>
        <p class="contact", style="color: white;">We’ll find makers, either brands or factories, that can produce what the community wants.</p>
      </div>
      <div class="w-col w-col-4">
        <a class="w-inline-block circle-block-icon-contact"><%= image_tag("box-75.png", class: "icoimage")%>
        </a>
        <h4 class="center-h4 contact", style="color: white;">Crowdfund</h4>
        <p class="contact", style="color: white;">The products get crowdfunded.&nbsp;&nbsp;If we achieve our goal they get shipped out while passing savings to you.</p>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>