<div class="hero-section pg" data-ix="show-nav">
    <h1 data-ix="hero-headline">crowdfund your <br><br>wedding</h1>
  </div>
  <div class="texbar">
    <div class="w-container">
      <div class="w-row row">
        <div class="w-col w-col-9">
          <h3 class="hero-texbar">Any Style any size.&nbsp;<strong>Crowdfund the perfect Tuxes and suits.</strong></h3>
        </div>
        <div class="w-col w-col-3"><a class="button textbar" href="/contact">CONTACT US</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 colum-facts">
          <%= image_tag("tux1 (1).jpg")%>
          <h3 class="service-tittle _2">Crowdfund and Save</h3>
          <p>Tuxedos and Suits like ours would cost over $1,200, by cutting out the middleman we start at only $249.</p>
        </div>
        <div class="w-col w-col-4 column-fact">
          <%= image_tag("about-ussuit.jpg")%>
          <h3 class="service-tittle _2">Customize and design</h3>
          <p>Work with us to choose your fabrics, fits and customizations for your entire wedding party.</p>
        </div>
        <div class="w-col w-col-4 column-fact">
          <%= image_tag("about-usshoe.jpg")%>
          <h3 class="service-tittle _2">choose your garments</h3>
          <p>From shoes to ties to suits.&nbsp;&nbsp;We’ll work with you to design the best wedding outfit.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Facebook Conversion Code for Wedding Contact Page View Pixel -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6020662707613', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6020662707613&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>