<p>Great News!</p>

<p>You've got a $10 credit at Dapper Crowd</p>

<p><%= @user.email %> has invited you to join Dapper Crowd. Dapper Crowd features crowdfunded menswear that's made directly from the same factories as name brands.  We skip the middleman and pass on the savings to you.</p>


http://dappercrowd.com/r/<%= @user.referral.code %>