<div class="clearfix">      
    <div id="image">
      <%= image_tag @lab.image.url(:large) %>
    </div>
    <div id="backing">
      <h5 style="font-size: 15px"> <%= @lab.description %> </h5> 
      <div>
        <p> Participants </p>
        <% array = [] %>
        <%  @lab.mainoptions.each do |f| %>
          <%  f.votes_for.voters.each do |p| %>
              <% array << p.id %>
          <% end %>
        <% end %>

        <% array.uniq.each do |p| %>
            <% u = User.find_by_id(p) %>
           <%= link_to( image_tag(u.avatar(:mini), :class => "circular-image-mini"), profile_path(u.profile), :data => {:toggle=>"tooltip", :title=>"#{u.fullname}</br>#{u.profile.byline}"})  %>
        <% end %>   

      </div>
    </div>
  </div>
</div>