<body>
  <div class="hero-section pg _2" data-ix="show-nav">
    <div class="w-container hero-text">
      <h3 class="upper" >DISCUSS CURRENT SAMPLES AND LABS WITH THE COMMUNITY<br>AND HELP US IMPROVE</h3>
      <div class="div-block page-tittle">
        <div class="hero-small-line header"></div>
      </div>
    </div>
  </div>
  <br />
  <br />

      <h3 style="text-align: center;"> Join The Conversation, VOTE AND COMMENT ON YOUR FAVORITE PRODUCTS </h3>

      <%= render "image" %>
</body>

<script>

$(window).load(function(){ 

  $(function(){

    $('#masonry-container').masonry({
      itemSelector: '.box',
      columnWidth: 100,
      gutterWidth: 10,
      isFitWidth: true
    });
  });
});

</script>
